//----  autism colour schemes
//----  https: //www.schemecolor.com/autism.php

//--    standard
$yellow: #f6bb00;
$green: #1eb742;
$red: #ff3334;
$blue: #0c96e4;

//--    medieval
$copper: #946969;
$gainsboro: #e2dcdb;
$shadows: #bbb6b5;
$skobeloff: #097480;
$ateneo: #0f3d6b;

//--    so unkind
$opal: #A6CABB;
$almond: #FDF0CA;
$midred: #ECA778;
$boyred: #6E5F4E;

//--    work is primary
$vivid: #F6AA93;
$peach: #F5C69C;
$violet: #866086;
$lilac: #BBA6C5;
$queen: #3765A0;

//--    island mist
$columbiagreen: #C9E3DA;
$azureish: #DBF0E9;
$ghost: #F6FBFF;        
$brightgray: #E7F2F9;
$azurewhite: #DEEBF3;
$columbiablue: #CDDEE8;